html, body{ background: #333333; color: #213459;}
html,body,h2,ul,li,ol,div,span{ margin: 0; padding: 0;}
ul,li,ol{list-style: none;}
body{}
#wrap{ width: 375px; height: 812px; margin: 20px auto; overflow: hidden; background: url("BG.png") no-repeat top;}
a { color: #213459; text-decoration: none;}
a:link { color: #213459;}
a:visited { color: #213459;}
a:hover { color: #1890FF;}
a:active { color: #213459;}
.focus a { color: #1890FF;}
.btn{ cursor:pointer;}


#page_home{ width: 375px; height: 812px; font-size: 0; margin-top: 44px; overflow-x: hidden; overflow-y: scroll; background: #ffffff;}
#page_home img{ width: 100%;}
#page_home .content{ width: 355px; margin-left: 10px;}
#page_home .banner{ width: 375px; background: #000000;}
#page_home .banner ul.pic{ width: 375px; height: 180px; overflow: hidden;}
#page_home .banner ul.pic li{ width: 375px; height: 180px;}
#page_home .banner ul.pic li img{ width: 375px; height: 180px;}
#page_home .banner ul.page{ width: 375px; background:rgba(0,0,0,0.3); text-align:center; position: relative; margin-top: -20px;}
#page_home .banner ul.page li{ width: 6px; height: 6px; margin: 6px 0; border-radius: 100%; background:rgba(255,255,255,0.2); display: inline-block; margin-left: 10px; border: 1px solid #ffffff;}
#page_home .banner ul.page li.focus{ background:rgba(255,255,255,1); border: 1px solid #ffffff;}
#page_home .marquee{ height: 30px; line-height: 30px; font-size: 9pt; background: #E1EBFC;}
#page_home .sign{ text-align: center; padding: 20px 0;}
#page_home .sign img{ width: 260px; height: 33px;}
.tv{}
#page_home .game{ margin-top: 20px;}
#page_home .news{ margin-top: 20px; padding-bottom: 130px;}

#page_bingo{ width: 375px; height: 812px; margin-top: 44px; overflow-x: hidden; overflow-y: scroll; background: #ffffff;}
#page_bingo .content{ width: 355px; margin-left: 10px; margin-top: 20px;}
#page_bingo img{ width: 100%;}
#page_bingo .tv{ animation: movingtv 0.5s;}
#page_bingo .video_game_menu{ margin-top: 20px;}
#page_bingo .all_games{ width: 355px; height: 400px; margin-top: 0px; overflow-x: hidden; overflow-y: scroll;}
#page_bingo .all_games ul{ width: 355px; padding-bottom: 40px; float: left;}
#page_bingo .all_games li{ width: 173px; height: 100px; overflow: hidden; float: left; margin-right: 4px; margin-bottom: 5px;}
#page_bingo .all_games li span{ width: 173px; display: block;}
#page_bingo .all_games li span.pic{ width: 173px; height: 100px; position: relative; border-radius: 10px; overflow: hidden;}
#page_bingo .all_games li span.pic img{ width: 173px; height: 100px;}
#page_bingo .all_games li span.info{ width: 153px; height: 30px; line-height: 30px; padding: 0 10px; position: relative; margin-top: -30px; z-index: 2; color: #ffffff; background-color: rgba(0,0,0,0.5); border-radius: 0 0 10px 10px;}
#page_bingo .all_games li span.info b.name{ float: left; width: 120px; font-weight: normal;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size: 9pt;}
#page_bingo .all_games li span.info b.fav{ float: right; cursor: pointer;}

#page_promo{ width: 375px; height: 812px; font-size: 0; overflow-x: hidden; overflow-y: scroll; background: #ffffff; position: relative; z-index: 10;}
#page_promo .content{ width: 355px; margin-left: 10px;}
#page_promo img{ width: 100%;}
#page_promo .top_banner{ width: 375px;}
#page_promo .promo_list{ }
#page_promo .close{ text-align: center; cursor: pointer;}
#page_promo .close img{ width: 66px; height: 66px;}

#page_news{ width: 375px; height: 812px; margin-top: 44px; overflow-x: hidden; overflow-y: scroll; background: #ffffff;}
#page_news .content{ width: 355px; margin-left: 10px;}
#page_news img{ width: 100%;}
#page_news .news_menu{ margin-top: 20px;}
#page_news .news_list{ margin-top: 10px;}
#page_news .news_list ul{ width: 335px; height: 700px;  overflow-x: hidden; overflow-y: scroll;  margin-left: 10px; position: relative;}
#page_news .news_list ul li{ width: 335px; height: 100px; margin-top: 10px; overflow: hidden;}
#page_news .news_list ul li span{ height: 100px; display: inline-block;}
#page_news span.pic{ width: 170px; height: 100px; float: left;}
#page_news span.pic img{ width: 170px; height: 100px; border-radius: 10px;}
#page_news span.txt{ width: 155px; height: 100px; margin-left: 10px; float: right;}
#page_news span.txt img{ width: 155px; height: 100px;}
#page_news span.txt b{ display: block;}
#page_news span.txt b.tit{ width: 100%; height: 80px; font-size: 9pt; line-height: 12pt; overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient:vertical;}
#page_news span.txt b.date{ height: 20px; font-size: 8pt; font-weight: normal; color: #A3ADC0;}

#page_my{ width: 375px; height: 812px; background: #F3F8FE; margin-top: 44px; overflow-y: scroll;}
#page_my .content{ width: calc(100% - 30px);  margin-left: 15px;}
#page_my img{ width: 100%;}
#page_my .top{ width: calc(100% - 20px); height: 24px; margin: 20px 0 0 10px;}
#page_my .top span{ height: 24px; display: inline-block; margin: 0; color: #4D617C;}
#page_my .top span.inbox{ position: relative; z-index: 1;}
#page_my .top .badge{ margin: -4px 0 0 14px;}
#page_my .top span.wallet{ float: right;}
#page_my .information{ width: 100%; margin: 10px 0; padding-bottom: 10px; color: #ffffff; border-radius: 20px; background: url("Infomation_bg.jpg") no-repeat; background-size: cover; box-shadow: 0px 0px 8px 0px rgba(72, 167, 254, 0.5);}
#page_my .information .info{ width: calc(100% - 40px); height: 40px;padding: 14px 0; margin-left: 20px; float: left; border-bottom: 1px solid rgba(0,0,0,0.1);}
#page_my .information .info span{ display: inline-block; float: left;}
#page_my .information .info span.ava{ width: 32px; height: 32px; border-radius: 100%; border: 5px solid rgba(0,0,0,0.1); overflow: hidden;}
#page_my .information .info span.ava img{ width: 32px; height: 32px; border-radius: 100%;}
#page_my .information .info span.nickname{ height: 40px; line-height: 40px; margin-left: 5px; font-size: 11pt;}
#page_my .information .info span.edit{ float: right; margin-top: 7px;}
#page_my .information .balance{ width: calc(100% - 40px); margin: 20px 0 0 20px; float: left;}
#page_my .information .balance span.tit{ position: absolute; margin-top: -15px; font-size: 8pt; font-weight: lighter;}
#page_my .information .balance span.amount{ font-size: 24pt; text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);}
#page_my .information .balance span.fresh{ float: right; margin-top: 9px;}
#page_my .btns{ width: calc(100% - 20px); margin-left: 10px; background: #4D617C; font-size: 0; margin-top: 10px;}
#page_my .btns div.btn{ width: calc(50% - 5px); height: 40px; line-height: 40px; display: inline-block; font-size: 12pt; border-radius: 10px; text-align: center; overflow: hidden;}
#page_my .btns div.deposit{ float: left; background: linear-gradient(#1890FF, #5276FF); color: #ffffff; box-shadow: 0px 0px 8px 0px rgba(72, 167, 254, 0.5); border: 1px solid rgba(255,255,255,0.2)}
#page_my .btns div.btn span{ display: inline-block}
#page_my .btns div.withdraw{ float: right; color: #213459; background: #E1E5EA;}
#page_my .btns span.ico{ height: 40px;}
#page_my .btns span.ico img{ vertical-align: middle; width: 22px; height: 24px;}
#page_my .btns span.label{ font-size: 9pt;}
#page_my .my_list{ width: 100%; margin: 20px 0px;}
#page_my .my_list ul{ width: 100%; background: #f8faff; border-radius: 20px; padding: 10px 0; border: 1px solid #EAEEF2; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);}
#page_my .my_list ul li{ width: calc(100% - 40px); margin-left: 20px; height: 48px; line-height: 48px; font-size: 0; border-bottom: 1px solid #eff3f7;}
#page_my .my_list ul li span{ height: 48px; margin-right: 5px; font-size: 10pt; overflow: hidden; float: left;}
#page_my .my_list ul li span.ico{ width: 24px; font-size: 0;}
#page_my .my_list ul li span.ico img{ width: 24px; height: 24px; vertical-align: middle;}
#page_my .my_list ul li span.title{ max-width: 100px; color: #4D617C;}
#page_my .my_list ul li span.con{ max-width: 130px; float: right; text-align: right; color: #A8AAAC; font-size: 9pt;}
#page_my .my_list ul li span.con img{ vertical-align: middle;}
#page_my .my_list ul li span.con svg{ vertical-align: middle;}
#page_my .my_list ul li span.arrow{ float: right; margin-right: 0; color: #4D607C;}
#page_my .my_list ul li span.arrow svg{ width: 10px; height: 10px; vertical-align: middle;}

#menu{ width: 375px; height: 80px; font-size: 0; position: absolute; z-index: 5; top: 752px; text-align: center;  border-radius:20px 20px 0 0; background-image: url("bg_menu.png"); background-size: 100%; border-top: 1px solid #C6E8EA; backdrop-filter: blur(2px);}
#menu .bg{ width: 375px; height: 80px; position: absolute; opacity: 1; z-index: 0;}
#menu .item{ width: 20%; height: 80px; text-align: center; font-size: 12px; display: inline-block; position: relative; z-index: 2; color: #4D617C; cursor: pointer;}
#menu .item span.ico{ width: 25px; height: 25px; text-align: center;  display: block; margin: 15px auto 0 auto;}
#menu .focus{color:#ffffff; text-shadow: 0 0 10px #ffffff; animation: color_change 0.3s;}
#menu .item span.focus{ text-shadow: 0 0 10px #ffffff;}
.clear{ clear: both; display: block; height: 0;}

.tab{ width: 100%;}
.tab ul{ width: 100%; border-bottom: 1px solid #B4BAD4; font-size: 0;}
.tab ul li{ width: 33.3%; height: 30px; line-height: 30px; text-align: center; display: inline-block; font-size: 9pt;}
.tab ul li.focus{ color: #1890FF; border-bottom: 2px solid #1890FF;}

.badge{ width: 9px; height: 9px; border-radius: 100%; background: radial-gradient(#FF8EA1, #FA2F30, #ffffff); position: absolute; border: 1px solid #4D607C; z-index: 10;}
.bgc{ width: 75px; height: 75px; display: block; border-radius: 75px; position: absolute; z-index: 1; background-image: url("menu_focus_bg.png"); background-size:cover; box-shadow: 0 0 10px #46D3FF; margin-top: -3px;}
.shadow_change{ animation: shadow_change 1s;}
.background_change{ animation: background_change 5s infinite;}

.moving_action10{ animation: moving_tv 0.6s;}
.moving_action20{ animation: moving 0.6s;}
.moving_action0{ animation: moving_0 0.6s;}
.moving_left{ animation: moving_left 0.6s;}
.moving_right{ animation: moving_right 0.6s;}
.moving_zoom{ animation: moving_zoom 0.6s;}
.moving_zoom_opacity{ animation: moving_zoom_opacity 0.6s;}
.swing {
    animation: swing 2.5s .15s linear infinite;
}

@keyframes color_change
{
    from {color: #4D617C;}
    to {color: #ffffff;}
}


@keyframes shadow_change
{
    0% { box-shadow: 0 0 10px #46D3FF;}
    50% { box-shadow: 0 0 40px #ff9212;}
    100% { box-shadow: 0 0 10px #46D3FF;}
}

@keyframes background_change
{
    0% { background: #0EB896;}
    50% { background: #1898FF;}
    100% { background: #0EB896;}
}

@keyframes moving_tv
{
    from { margin-top: 200px; opacity: 0;}
    to { margin-top: 0; opacity: 1;}
}

@keyframes moving
{
    from {margin-top: 200px; opacity: 0;}
    to {margin-top: 20px; opacity: 1;}
}

@keyframes moving_0
{
    from {margin-top: -100px; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}

@keyframes moving_left
{
    from {margin-right: -100px; opacity: 0;}
    to {margin-right: 0px; opacity: 1;}
}
@keyframes moving_right
{
    from {margin-left: -100px; opacity: 0;}
    to {margin-left: 0px; opacity: 1;}
}

@keyframes moving_zoom
{
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

@keyframes moving_zoom_opacity
{
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(3); opacity: 0;}
}

@-webkit-keyframes swing
{
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50%,100% {
        transform: rotate(0deg);
    }
}
#newScene{
    stroke: red;
    /*or*/
    fill: red;
}